.search {
   -webkit-appearance: none;
   border: none;
   outline: none;
   padding: 5px;
   width: 150px;
   line-height: 30px;
   opacity: 0.6;
   font: 2px;
   font-weight: bold;
   color: white;
   margin: 30px auto;
   border-radius: 40px;
 }
